html, body {
    margin:0; padding: 0;
    height: 100%;
    font-family: Helvetica, sans-serif;
    font-size: 100%;
}

 h1 { 
    text-align: center;
    margin: auto; 
    font-size: 3em;
  }

header {
  height: 15%;
  min-height: 15%; 
  width: 100%;
  display: inline-block;
  text-align: center; 
  position: relative;
  background-color: dimgray;
}  
  
div#wrapper {
    min-height: 100%;
    position: relative;
}

header h1 {
    margin: 0;
    padding: 1%;
    text-align: center;
    color: white;
}

form {
    margin: 0 auto;
    padding: 10%;
    background-color: #fff;
    width: 25%;
}

/* ----------------------------------------------------- */

footer {
    position: absolute; /* footer always on the bottom */
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4em;
    background-color: lightgray;
    color: dimgray;
    text-align: center;
}
