html, body {
    margin:0; padding: 0;
    height: 100%;
    font-family: Helvetica, sans-serif;
    font-size: 100%;
    background-color: #FF8D00;
}

div#wrapper{
    margin:0; padding: 0;
    min-height: 100%;
    position: relative;
}

header {
    margin:0; padding: 0;
    width: 100%;
    background-color: dimgray;
}

header h1 {
    margin: 0;
    padding: 1%;
    text-align: center;
    color: white;
}

div#error-message{
	margin-top: 9%;
}

img{
	height: 15%;
	width: 15%;
}
#logo{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0 auto;
}

* {
	margin-left:auto;
	margin-right:auto;
	padding: 0;
	text-align: center;
}

#contact-area {
	width: 46%;
	margin-top: 10%;
	font-size: 62.5%;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	margin-top: 10px;
	width: 470px;
	border: 2px solid #ccc;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	width: 15%;
	float: right;
	margin-top: 10px;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.4em;
}

/********************** RADIO *********************************/
.radio-label {

}
.radio-input {


}
fieldset {
    text-align: center;
}
#radio {

}

/* ----------------------------------------------------- */

div#UpperMenu {
    position: absolute;
	right: 0;
    text-align: right;
    width: 6%;
    font-weight: bold;
    color: blue;
    padding-right: 2%;
}
div#UpperMenu ul li {
	list-style-type: none;
}
div#UpperMenu a:link:hover {
    text-decoration: underline;
    cursor: pointer;
}
div#UpperMenu a:link, a:visited{
    text-decoration: none;
    display: inline;
}

footer {
	position: absolute; /* footer always on the bottom */
	bottom: 0;
	left: 0;
	width: 100%;
   	height: 3.5em;
    background-color: lightgray;
    color: dimgray;
    text-align: center;
}
