<!DOCTYPE html>

<html>
	<head>
	<title>AddSubs</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/static/css/style_default.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	</head>

	<body>
		<header>
			<h1>ADD SUBS</h1>
			<div id="logo">
				<img src = "/static/images/claqueta.gif" />
			</div>
		</header>
		<div id="search">
			<form>
				<input name="ruta" placeholder="Ruta al archivo">
				<input name="idioma" placeholder="Idiomas">
			</form>
		</div>
		<footer>
			<p> PI 14/15. Xabi Costas & Brais Couce & Álvaro Feal</p>
		</footer>
	</body>
</html>
