{% extends "base.html" %}
{% block content %}

	<div id="UpperMenu" >
			<ul>
				<li> <a href="{% url 'signup' %}">Sign Up</a> </li>
			</ul>
	</div>

	<div id="contact-area">
	<form action="{% url 'django.contrib.auth.views.login' %}" method="post">
	 {% csrf_token %}
	<table>
		<tr>
			<td>{{ form.username.label_tag }}</td>
			<td>{{ form.username }}</td>
		</tr>
		<tr>
			<td>{{ form.password.label_tag }}</td>
			<td>{{ form.password }}</td>
		</tr>
	</table>
	<input type="submit" value="Login" class="submit-button"/> <input type="hidden" name="next"
											   value="{{ next }}"/>
	</form>
	</div>

	{% if form.errors %}
		<div id="error-message"></div>
		<p><strong>Your username and password didn't match. Please try again.</strong></p>
		</div>
	{% endif %}

{% endblock %}
